<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/models.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/about.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar" style="flex-wrap: nowrap !important;">
      <div class="newlogodiv"> 
        <img class="newlogo"  src="{{ logo_img  }}" alt="logo" >
      </div>
      <div class="right">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <ul>
          <li><a href="/" style="text-decoration: none;color: rgb(112, 112, 112);">Home</a></li>
          <li>
            Diseases
            <i
              class="fa fa-chevron-circle-down"
              style="margin-left: 10px"
              aria-hidden="true"
            ></i>
            <ul class="dropdown">
              <li><a href="/liver" style="text-decoration: none;">Liver Disease</a></li>
              <hr />
              <li><a href="/breast" style="text-decoration: none;">Breast Cancer</a></li>
              <hr />
              <li><a href="/hypertension" style="text-decoration: none;">Hypertension</a></li>
              <hr />
              <li><a href="/heart" style="text-decoration: none;">Heart Disease</a></li>
              <hr/>
              <li><a href="/diabetes" style="text-decoration: none;">diabetes</a></li>
              <hr />
              <!-- <li><a href="/symptom" style="text-decoration: none;">symtoms</a></li> -->
            </ul>
          </li>
          <li><a href="/about" style="text-decoration: none;color: rgb(112, 112, 112);">About Us</a></li>
          <li><a href="/contact" style="text-decoration: none;color: rgb(112, 112, 112);">Contact Us&nbsp;&nbsp;→</a></li>
        </ul>
      </div>
    </div>
    <!-- End Navbar -->

    <!-- Start Form Tag -->
    <h1 style="margin-left:65px;margin-top: 50px;">Heart prediction</h1>
    <div class="mid-div">
    <div class="mid-left">
      <img src="{{ heartImg }}" alt="hypertension">
    </div>
    <form method="post" accept-charset="utf-8" name="Modelform" class="mid-right">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12" >
          <label><b>Enter Age:</b> </label><br>
          <input type="number" class="form-control" id="Age" name="Age"
                 placeholder="Enter Age ">
      </div>
      <!-- Gender -->
      <div class="col-lg-6 col-md-6 col-sm-12"  >
          <label><b>Enter Gender</b> </label><br>
          <select class="selectpicker form-control" id="Sex" name="Sex" required="1"
          >
              <option value="1">Male</option>
              <option value="0">Female</option>
          </select>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12"  >
        <label><b>Select ChestPainType:</b> </label><br>
        <select class="selectpicker form-control" id="ChestPainType" name="ChestPainType" required="1"
        >
            <option value="0">ASY</option>
            <option value="1">ATA</option>
            <option value="2">NAP</option>
            <option value="3">TA</option>
        </select>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12"  >
      <label><b>Enter RestingBP:</b> </label><br>
      <input type="number" class="form-control" id="RestingBP" name="RestingBP"
             placeholder="Enter RestingBP">
  </div>
     </div>
 <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12"  >
      <label><b>Enter Cholesterol:</b> </label><br>
      <input type="number" class="form-control" id="Cholesterol" name="Cholesterol"
                   placeholder="Enter Cholesterol">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12"  >
    <label><b>Select FastingBS:</b> </label><br>
    <select class="selectpicker form-control" id="FastingBS" name="FastingBS" required="1"
    >
        {% for fstbs in FastingBS %}
        <option value="{{ fstbs }}">{{ fstbs }}</option>
        {% endfor %}
    </select>
  </div>
</div>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12"  >
        <label><b>Select RestingECG:</b> </label><br>
        <select class="selectpicker form-control" id="RestingECG" name="RestingECG" required="1"
        >
            <option value="0">LVH</option>
            <option value="1">Normal</option>
            <option value="2">ST</option>
        </select>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12"  >
      <label><b>Enter MaxHR:</b> </label><br>
      <input type="number" class="form-control" id="MaxHR" name="MaxHR"
                   placeholder="Enter MaxHR">
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <label><b>Select ExerciseAngina:</b> </label><br>
    <select class="selectpicker form-control" id="ExerciseAngina" name="ExerciseAngina" required="1"
    >
        <option value="0">N</option>
        <option value="1">Y</option>
    </select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12"  >
  <label><b>Enter Oldpeak:</b> </label><br>
  <input type="number" class="form-control" id="Oldpeak" name="Oldpeak"
  placeholder="Enter MaxHR">
</div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" >
    <label><b>Select ST_Slope:</b> </label><br>
    <select class="selectpicker form-control" id="ST_Slope" name="ST_Slope" required="1"
    >
        <option value="0">Down</option>
        <option value="1">Flat</option>
        <option value="2">Up</option>
    </select>
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center; margin-top: 20px;">
    <button  class="btn btn-primary form-control" onclick="send_data()" >Predict</button>
  </div>
</div>

    </form>
  </div>
    <br>
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h4><span id="prediction"></span></h4>
        </div>
    </div>
    <script>
      function form_handler(event) {
   event.preventDefault(); // Don't submit the form normally
      }
  function send_data(){
   var form = document.querySelector('form').addEventListener("submit",form_handler);
   console.log(form,"form")
   var fd=new FormData(document.querySelector('form'));

    var xhr= new XMLHttpRequest({mozSystem: true});

   xhr.open('POST','/getHeartPred',true);
   document.getElementById('prediction').innerHTML="Wait! Prediction.....";
   xhr.onreadystatechange = function(){
       if(xhr.readyState == XMLHttpRequest.DONE){
           document.getElementById('prediction').innerHTML="Prediction:"+xhr.responseText;

       }
   };
   xhr.onload= function(){};
   xhr.send(fd);
  }
</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>