<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/models.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/about.css') }}">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar" style="flex-wrap: nowrap !important;">
      <div class="newlogodiv"> 
        <img class="newlogo"  src="{{ logo_img  }}" alt="logo" >
      </div>
      <div class="right">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <ul>
          <li><a href="/" style="text-decoration: none;color: rgb(112, 112, 112);">Home</a></li>
          <li>
            Diseases
            <i
              class="fa fa-chevron-circle-down"
              style="margin-left: 10px"
              aria-hidden="true"
            ></i>
            <ul class="dropdown">
              <li><a href="/liver" style="text-decoration: none;">Liver Disease</a></li>
              <hr />
              <li><a href="/breast" style="text-decoration: none;">Breast Cancer</a></li>
              <hr />
              <li><a href="/hypertension" style="text-decoration: none;">Hypertension</a></li>
              <hr />
              <li><a href="/heart" style="text-decoration: none;">Heart Disease</a></li>
              <hr/>
              <li><a href="/diabetes" style="text-decoration: none;">diabetes</a></li>
              <hr />
              <li><a href="/symptom" style="text-decoration: none;">symtoms</a></li>
            </ul>
          </li>
          <li><a href="/about" style="text-decoration: none;color: rgb(112, 112, 112);">About Us</a></li>
          <li><a href="/contact" style="text-decoration: none;color: rgb(112, 112, 112);">Contact Us&nbsp;&nbsp;→</a></li>
        </ul>
      </div>
    </div>
      <!-- End Navbar -->
    <h1 style="margin-left:65px;margin-top: 50px;">Liver</h1>
    <div class="mid-div">
      <div class="mid-left">
        <img src="{{ liverImg }}" alt="hypertension">
      </div>
    <form method="post" accept-charset="utf-8" name="Modelform" class="mid-right">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class="form-label"><b>Enter Age:</b> </label><br>
            <input type="number" class="form-control" id="age" name="age"
                   placeholder="Enter Age ">
        </div>
        <!-- Gender -->
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class="form-label"><b>Enter Gender</b> </label><br>
            <select class="selectpicker form-control" id="gender" name="gender" required="1"
            >
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>
    </div>
        <!-- Bilirubin -->
          <!-- onchange="load_car_models(this.id,'car_models')" -->
          <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class='form-label'><b>Select the bilirubin:</b> </label><br>
            <input type="number" class="form-control" id="totalBilirubin" name="totalBilirubin"
            placeholder="Enter totalBilirubin ">
        </div>
        <!-- 	Direct_Bilirubin -->
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class='form-label'><b>Select the direct_Bilirubin:</b> </label><br>
            <input type="number" class="form-control" id="Direct_Bilirubin" name="Direct_Bilirubin"
            placeholder="Enter Direct_Bilirubin">
        </div>
      </div>
        <!-- alkaline_Phosphotase -->
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class='form-label'><b>Select the alkaline_Phosphotase:</b> </label><br>
            <input type="number" class="form-control" id="alkaline_Phosphotase" name="alkaline_Phosphotase"
            placeholder="Enter alkaline_Phosphotase">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <label class='form-label'><b>alamine_Aminotransferase:</b> </label><br>
       
            <input type="number" class="form-control" id="alamine_Aminotransferase" name="alamine_Aminotransferase"
            placeholder="Enter alamine_Aminotransferase">
        </div>
    </div>
        <!-- aspartate_Aminotransferase -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12"  >
            <label class='form-label'><b>aspartate_Aminotransferase:</b> </label><br>
            <input type="number" class="form-control" id="aspartate_Aminotransferase" name="aspartate_Aminotransferase"
            placeholder="Enter aspartate_Aminotransferase">
        </div>
        <!-- total_Protiens -->
        <div class="col-lg-6 col-md-6 col-sm-12"  >
            <label class='form-label'><b>Select the total_Protiens:</b> </label><br>
            <input type="number" class="form-control" id="total_Protiens" name="total_Protiens"
            placeholder="Enter total_Protiens">
        </div>
    </div>
        <!-- albumin -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label class='form-label'><b>Select the albumin:</b> </label><br>
            <input type="number" class="form-control" id="albumin" name="albumin"
            placeholder="Enter albumin">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label class='form-label'><b>albumin_and_Globulin_Ratio:</b> </label><br>
            <input type="number" class="form-control" id="albumin_and_Globulin_Ratio" name="albumin_and_Globulin_Ratio"
            placeholder="Enter albumin_and_Globulin_Ratio">
        </div>
    </div>
        <div class="col-md-10 form-group" style="text-align: center">
            <button  class="btn btn-primary form-control" onclick="send_data()" >Predict</button>
        </div>
    </form>
</div>
</div>
<br>
<div >
    <div style="text-align: center">
        <h4><span id="prediction"></span></h4>
    </div>
</div>
    <script>
           function form_handler(event) {
        event.preventDefault(); // Don't submit the form normally
           }
       function send_data(){
        var form = document.querySelector('form').addEventListener("submit",form_handler);
        console.log(form,"form")
        var fd=new FormData(document.querySelector('form'));

         var xhr= new XMLHttpRequest({mozSystem: true});

        xhr.open('POST','/getData',true);
        document.getElementById('prediction').innerHTML="Wait! Prediction.....";
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById('prediction').innerHTML="Prediction:"+xhr.responseText;

            }
        };
        xhr.onload= function(){};
        xhr.send(fd);
       }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>
</html>

